body {
    display: flex;
    justify-content: center;
}

.basic-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    padding: 0.5rem;
    margin: 1rem 0;
    border-radius: 12px;
    background-color: #9fd2bf;
    width: 500px;
}
.item_details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
}
.basic-product img {
    border-radius: 10px;
    width: 100px;
    height: 100px;
}
.item_price {
    color: red;
    display: flex;
    align-items: center;
}
.item_title {
    color: white;
    font-size: 2rem;
}
